<mat-tab-group>
  <mat-tab *ngFor="let cat of categories"
           [label]="cat.label">
    <h1>{{cat.label}}</h1>

    <div class="cardList">

      <ng-container *ngFor="let course of getCoursesByCategory(cat.key)">

        <mat-card class="cardListItem">
          <mat-card-header>
            <div mat-card-avatar
                 class="example-header-image"></div>
            <mat-card-title>{{course.title}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image
               [src]="course.urlImage">
          <mat-card-content>
            <p>
              {{course.description}}
            </p>
          </mat-card-content>
          <mat-card-actions fxLayout="row"
                            fxFlexAlign="center center">
            <button mat-flat-button
                    fxflex-mat-button
                    color="primary">Add Course</button>
          </mat-card-actions>
        </mat-card>

      </ng-container>
    </div>

  </mat-tab>
</mat-tab-group>
